<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
 
        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
          <!--<property name="connection.url">jdbc:mysql://43.225.52.247:3306/john_league</property>
        <property name="connection.username">john_league</property>
        <property name="connection.password">Software@123</property>-->
      <!--  <property name="connection.url">jdbc:mysql://137.74.73.149:3306/john_league_test</property>
        <property name="connection.username">john_league_test</property>
        <property name="connection.password">Software@123</property> -->
        
         <property name="connection.url">jdbc:mysql://137.74.73.148:3306/fantasyl_league</property>
        <property name="connection.username">fantasyl_Staging</property>
        <property name="connection.password">League_Staging</property>
 
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">4</property>
 
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 
        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
 
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
 
        <!-- Drop and re-create the database schema on startup -->
        <!-- <property name="hbm2ddl.auto">create</property>  -->
 
 <!-- The mapping information of entities -->
        <!-- <mapping class="com.event.tracker.model.entity.Address"/> -->	
        <mapping class="com.sportmgmt.model.entity.User"/>
        <mapping class="com.sportmgmt.model.entity.CountryStateCity"/>
        <mapping class="com.sportmgmt.model.entity.Game"/>
        <mapping class="com.sportmgmt.model.entity.Club"/>
        <mapping class="com.sportmgmt.model.entity.Player"/>
        <mapping class="com.sportmgmt.model.entity.GameClubPlayer"/>
        <mapping class="com.sportmgmt.model.entity.UserPlayer"/>
        <mapping class="com.sportmgmt.model.entity.LeaguePlan"/>
        <mapping class="com.sportmgmt.model.entity.PlanDiscount"/>
        <mapping class="com.sportmgmt.model.entity.UserPayment"/>
        <mapping class="com.sportmgmt.model.entity.UserPlan"/>
        <mapping class="com.sportmgmt.model.entity.GameWeek"/>
        <mapping class="com.sportmgmt.model.entity.Match"/>
   </session-factory>
</hibernate-configuration>
